body{
    margin: auto;
    width: 1000px;
    padding-top: 50px;
    text-align: center;
    background-color: rgb(149, 212, 207);
}
button{
    background-color: rgb(43, 61, 226);
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
}